LoginUseWebService/LoginUseWebServiceTest/Web References/LoginUseService/loginuse.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tesis.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tesis.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tesis.org/">
      <s:element name="UploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneModel" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCSVData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="from" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="to" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="propNames" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCSVDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCSVDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSynchInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSynchInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSynchInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetLocationGroups">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetLocationGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResetLocationGroupsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterUserSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="RegisterUserSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="getCSVDataSoapIn">
    <wsdl:part name="parameters" element="tns:getCSVData" />
  </wsdl:message>
  <wsdl:message name="getCSVDataSoapOut">
    <wsdl:part name="parameters" element="tns:getCSVDataResponse" />
  </wsdl:message>
  <wsdl:message name="getSynchInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getSynchInfo" />
  </wsdl:message>
  <wsdl:message name="getSynchInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getSynchInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ResetLocationGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:ResetLocationGroups" />
  </wsdl:message>
  <wsdl:message name="ResetLocationGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:ResetLocationGroupsResponse" />
  </wsdl:message>
  <wsdl:portType name="LoginUseSoap">
    <wsdl:operation name="UploadFile">
      <wsdl:input message="tns:UploadFileSoapIn" />
      <wsdl:output message="tns:UploadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input message="tns:RegisterUserSoapIn" />
      <wsdl:output message="tns:RegisterUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCSVData">
      <wsdl:input message="tns:getCSVDataSoapIn" />
      <wsdl:output message="tns:getCSVDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSynchInfo">
      <wsdl:input message="tns:getSynchInfoSoapIn" />
      <wsdl:output message="tns:getSynchInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetLocationGroups">
      <wsdl:input message="tns:ResetLocationGroupsSoapIn" />
      <wsdl:output message="tns:ResetLocationGroupsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginUseSoap" type="tns:LoginUseSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tesis.org/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tesis.org/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCSVData">
      <soap:operation soapAction="http://tesis.org/getCSVData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSynchInfo">
      <soap:operation soapAction="http://tesis.org/getSynchInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetLocationGroups">
      <soap:operation soapAction="http://tesis.org/ResetLocationGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginUseSoap12" type="tns:LoginUseSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tesis.org/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap12:operation soapAction="http://tesis.org/RegisterUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCSVData">
      <soap12:operation soapAction="http://tesis.org/getCSVData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSynchInfo">
      <soap12:operation soapAction="http://tesis.org/getSynchInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetLocationGroups">
      <soap12:operation soapAction="http://tesis.org/ResetLocationGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginUse">
    <wsdl:port name="LoginUseSoap" binding="tns:LoginUseSoap">
      <soap:address location="http://localhost:50011/LoginUseWebService/LoginUse.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginUseSoap12" binding="tns:LoginUseSoap12">
      <soap12:address location="http://localhost:50011/LoginUseWebService/LoginUse.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>